@tailwind base;
@tailwind components;
@tailwind utilities;

#first .char {
  transition: all 0.5s ease-out;
  transform-origin: bottom;
  opacity: 0;
  transform: translateX(500px);
}
#second .char {
  transform: translateY(-125px) rotateX(180deg);
  transition: all 0.4s ease-out;
  transform-origin: bottom;
  opacity: 0;
}
#mail,
#github,
#linkedin {
  transition: all 0.5s ease-out;
  transform-origin: bottom;
  opacity: 0;
  transform: translateX(500px);
}
#arrow {
  opacity: 0;
}
.box,
.box-2 {
  transform: translateY(250px);
  transition: all 0.1s linear;
  opacity: 0;
}
::-webkit-scrollbar {
  display: none;
}
